
.row{
display: flex;
justify-content: center;

}

.contain1{
 position: relative;
  text-align: center;
  color: black;
  font-size: xx-large;
   font-weight: 800;
   
}

.contain2{
 position: relative;
  text-align: center;
  color: rgb(24, 23, 23);
  font-size: xx-large;
   font-weight: 800;
}

.contain3{
 position: relative;
  text-align: center;
  color: black;
  font-size: xx-large;
  font-weight: 800;
}

.pic {
  width: 290px;
  border-radius: 50% 50% 50% 50%;
  height: 290px;



  flex-grow: 1;
}

body{
    background-size: 100% 100%;
    background-image: url('/images/house.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
      font-family: "Lato", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;

}

.space{
padding: 100px;
  width: 100%;
  flex-grow: 1;
  
}

.centerText{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.glow{
  /*Transition*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;

  /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(0, 0, 0, 0.1)));
}


.glow:hover {
  opacity: 1;

  /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(0, 0, 0, 0.4)));

  /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}



body:after {
  content: "";
  background: linear-gradient(135deg, #2980b9 0%, #9B59B6 100%);
  opacity: 0;
}

.blur:after {
  opacity: .85;
}

.btn {

  border: 6px solid #ed7669;
}
.btn.active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.btn:focus, .btn:hover {
  border: 8px solid #e74c3c;
}

.btn,
.btn > span {
  cursor: pointer;
}

.txt-b {
  display: none;
}

.btn:focus .txt-a,
.btn:hover .txt-a {
  display: none;
}

.btn:focus .txt-b,
.btn:hover .txt-b {
  display: inline;
}


#form1,
#form2,
#form3{
  display: none;
}