
.row{
display: flex;
justify-content: center;

}

.contain1{
 position: relative;
  text-align: center;
  color: black;
  font-size: xx-large;
   font-weight: 800;
   
}

.contain2{
 position: relative;
  text-align: center;
  color: rgb(24, 23, 23);
  font-size: xx-large;
   font-weight: 800;
}

.contain3{
 position: relative;
  text-align: center;
  color: black;
  font-size: xx-large;
  font-weight: 800;
}

.pic {
  width: 290px;
  border-radius: 50% 50% 50% 50%;
  height: 290px;



  flex-grow: 1;
}

body{
    /* background-size: 100% 100%; */
    background-image: url('/images/house.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
      font-family: "Lato", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
background-position: center;
}

.space{
padding: 50px 100px 20px 100px;
  width: 100%;
  flex-grow: 1;
  
}

.centerText{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.glow{
  /*Transition*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;

  /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(0, 0, 0, 0.1)));
}


.glow:hover {
  opacity: 1;

  /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(0, 0, 0, 0.4)));

  /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}



body:after {
  content: "";
  background: linear-gradient(135deg, #2980b9 0%, #9B59B6 100%);
  opacity: 0;
}

.blur:after {
  opacity: .85;
}

.btn {

  border: 6px solid #ed7669;
}
.btn.active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.btn:focus, .btn:hover {
  border: 8px solid #e74c3c;
}

.btn,
.btn > span {
  cursor: pointer;
}

.txt-b {
  display: none;
}

.btn:focus .txt-a,
.btn:hover .txt-a {
  display: none;
}

.btn:focus .txt-b,
.btn:hover .txt-b {
  display: inline;
}


#form1,
#form2,
#form3{
  display: none;
}

.pad-top{

padding-left: 0%;
background-color: whitesmoke;
   opacity: .9;
    height: 100vh !important;
   
}
.clear{
  background-color: transparent;
}

.opacity{

background-color: whitesmoke;
   opacity: .9;
}









@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);
body,html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}


ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}



.wrap {
  width: 50%;
 
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  padding: .2em 0;
  margin-bottom: .5em;
  border-bottom: .5px solid #dadada;
  letter-spacing: 3px;
  text-transform: uppercase;
}

ul li {
  line-height: 2;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: .85em;
  text-transform: uppercase;
  clear: both;
}
ul li:before {
  content: "\2023";
  padding: 0 0.5em 0 0;
}

.bar {
  background: #e74c3c;
  width: 0;
  margin: .25em 0;
  color: #fff;
  position: relative;
  transition: width 2s, background .2s;
  -webkit-transform: translate3d(0, 0, 0);
  clear: both;
}
.bar:nth-of-type(2n) {
  background: #ed7669;
}
.bar .label {
  font-size: .75em;
  padding: 1em;
  background: #3d3d3d;
  width: 8em;
  display: inline-block;
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.bar .label.light {
  background: #575757;
}

.count {
  position: absolute;
  right: .25em;
  top: .75em;
  padding: .15em;
  font-size: .75em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

html {
  line-height: 1;
}

body {
 
  padding: 2%;
}

.holder{
 justify-self: start;
}